    <div class="card bg-base-100 shadow-md">
      <figure>
        <%= image_tag "dublin-clean-up.jpg", class: "w-full h-auto" %>
      </figure>
      <div class="card-body" >
        <h2 class="card-title" id="mission-<%= dom_id(mission)%>-title"><%= mission.title %></h2>
        <p id="mission-<%= dom_id(mission)%>-body"><%= truncate(mission.body, length: 100) %></p>
        <div class="card-actions justify-end">
<%#= link_to "Edit", edit_mission_path(@missions.first), data: { turbo_frame: "modal" }, class: "btn btn-primary" %>
<%#= link_to  "Edit", edit_mission_path(@missions.first), data: { action: "click->modal#open", turbo_stream: "" }, class: "w-full ml-3"%>

          <%= button_to "Deactivate", class: "btn btn-error" %>
        </div>
      </div>
    </div>